/* =============
    Base
============= */

/* Colors */
$amaranth: #513959;
$wisteria: #bd8ebe;
$frenchroast: #946644;
$alpinefrost: #d992b8;
$buttercream: #fdf7e1;

$d-amaranth: #301c36;
$d-wisteria: #724781;
$d-frenchroast: #5b3a28;
$d-alpinefrost: #b56093;
$d-buttercream: #f6e6ba;

$l-amaranth: #715785;
$l-wisteria: #dfc9e4;
$l-frenchroast: #d6ae7f;
$l-alpinefrost: #eab5c8;
$l-buttercream: #fffef9;

  /* Imagery */
  img {
    width: 100%;
  }
  svg {
    color: $l-frenchroast;
    width: 50px;
  }

/* Format */
body {
    margin: 0;
    background-color: $l-buttercream;
    justify-content: center;
    font-family: 'American Typewriter', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
  }

