/* =============
    "what's new" articles
============= */
h3{
    margin-left: 16px;
    font-weight: 400;
}
h4{
    width: 60%;
}
.articles{
display: flex;
flex-direction: column;
color: $amaranth;
padding-bottom: 24px;
.content{
display: flex;
flex-direction: column;
gap: 24px;
 /* individual article class */
.article{
    border-radius: 6px;
    background-color: $l-wisteria;
    .covimg{
        border-radius: 6px 6px 0px 0px;
        height: 300px;
        margin-bottom: 8px;
    }
    #pic2{
        background-image: url("../img/pic2.png");
        background-size: cover;
        background-position-y: center;
         }
     #pic3{
        background-image: url("../img/pic3.png");
        background-size: cover;
        background-position-y: center;
         }
     #pic6{
         background-image: url("../img/pic6.png");
         background-size: cover;
        background-position-y: center;
         }
     #pic7{
        background-image: url("../img/pic7.png");
        background-size: cover;
        background-position-y: center;
         }
     #pic8{
         background-image: url("../img/pic8.png");
         background-size: cover;
        background-position-y: center;
         }
    h4{
        padding-inline: 16px;
        font-size: 27pt;
        font-weight: 600;
        color: $d-amaranth;
    }
    p{
        padding: 0px 16px;
        color: $d-wisteria;
    }
    .readmore {
        margin: 16px;
        display: inline-block;
        border-radius: 6px;
        background-color: $d-frenchroast;
        p{
            color: $l-frenchroast;
            margin: 0px;
            padding: 8px;
        }
      }
    }
}
@include md{
    .content{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .article{
            width: 360px;
            .covimg{
                height: 184px;
            }
        }
        }
}
@include lg{
    .content{
        grid-template-columns:  1fr 1fr 1fr;
        justify-content: center;
        } 
}
}
@include xl{
    .articles {
        margin: 64px;
    }
    }