/* =============
    "what's new" articles
============= */
.articles{
display:grid;
grid-template-columns: 1fr;
color: $amaranth;
gap: 16px;
padding-bottom: 24px;
}
/* individual article class */
.article{
    border-radius: 6px;
    background-color: $l-wisteria;
    display:grid;
    grid-template-columns: 1fr;
    img{
        border-radius: 6px 6px 0px 0px;
    }
    h4{
        padding: 16px;
        font-size: 27pt;
        font-weight: 600;
        color: $d-amaranth;
    }
    p{
        padding: 16px;
        color: $d-wisteria;
    }
    .readmore {
        width: fit-content;
        height: fit-content;
        margin: 16px;
        background-color: $d-frenchroast;
        p{
            color: $l-frenchroast;
            padding-block: 0px;
        }
        border-radius: 6px;
        text-align: center;
      }
    }
    @include md{
        .content{
            grid-template-columns:  1fr 1fr;
            }
    }
    @include lg{
        .content{
            grid-template-columns:  1fr  1fr 1fr;
            } 
    }