/* =============
    Image gallery
============= */
.gallery{
    .pic1{
        grid-area: pic1;
        height: 400px;
        background-image: url("../img/pic1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .pic2{
        grid-area: pic2;
        background-image: url("../img/pic4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        visibility: hidden;
        height: 0px;
    }
    .pic3{
        grid-area: pic3;
        height: 400px;
        background-image: url("../img/pic5.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
ul{
list-style: none;
padding: 0;
margin: 0;
display: grid;
grid-template-columns: 1fr;
grid-template-areas: 
"pic1" 
"pic3";
@include md{
grid-template-columns:  1fr 1fr;
grid-template-areas: 
"pic1 pic3";
}
@include lg{
margin: 1%;
}
@include xl{
    .pic1{
        height: 800px;
    }
    .pic2{
        visibility: visible;  
        height: 400px;
    }
    margin: 3%;
    grid-template-columns:  1fr 1fr;
grid-template-areas: 
"pic1 pic2"
"pic1 pic3";
    }
}
}