/* =============
    Hero content
============= */
.hero{

    display:grid;
grid-template-columns: 1fr;
color: $l-frenchroast;
/* hero-stripe subtitle & arrow */
.stripes{
    display:grid;
grid-template-columns: 1fr;
div{
    padding-inline: 16px;
align-content: center;
}
#sright{
    h2{
        visibility: hidden;
    }
    img{
        width: 15%;
    }
    }
/* hero stripe 1 (top) */
.herostripe1{
    background-color: $frenchroast;
    display:flex;
    justify-content: center;
}
.herostripe2{
    background-color: $d-frenchroast;
    display:flex;
    justify-content: center;
}
}
@include md{
    .stripes{
        display: grid;
    grid-template-columns: 48% 1fr;
    #sright{
        h2{
            visibility: hidden;
        }
        img{
            width: 25%;
        }
        }
    }
}
@include lg{
    .stripes{
        display: grid;
    grid-template-columns: 48% 1fr;
    #sright{
        display: flex;
        align-items: center;
        gap: 6px;
        h2{
            visibility: visible;
            font-weight: 700;
        }
        img{
            width: 15%;
        }
        }
    }
}
@include xl{
    .stripes{
        display: grid;
    grid-template-columns: 1fr 1fr;
    .herostripe1{
        text-align: left;
    }
    .herostripe2{
text-align: left;
    }
        }
}
}