/* =============
    "what's new" articles
============= */
.articles{
display:grid;
grid-template-columns: 1fr;
}
/* individual article class */
.article{
    display:grid;
    grid-template-columns: 1fr;
    }