/* =============
    Header
============= */
header{
background-color: $amaranth;
display: grid;
grid-template-columns: 20%;
padding: 16px;
img{
    height: inherit;
    width: cover;
}
@include lg{
    padding: 24px 16px;
}
}