/* =============
    Search bar
============= */
.search{
background-color: $l-wisteria;
display: grid;
grid-template-columns: 1fr 1fr;
padding: 16px;
gap: 16px;
p{
text-decoration: underline;
font-size: 16pt;
    color: $wisteria;
  }
  /* magnifying glass button */
#sbutton{
    display:grid;
    grid-template-columns: 1fr;
    background-color: $d-frenchroast;
    align-content:center;
    border-radius: 3.5px;
    height: 34px;
    width: 42px;
    padding: 10px;
    }
}