/* =============
    Footer
============= */
footer{
display:grid;
grid-template-columns: 1fr;
}
/* thirds section */
.fsection{
    display:grid;
    grid-template-columns: 1fr;
    }
/* address logos/copy */
 #address{
     display:grid;
     grid-template-columns: 1fr 1fr;
      }